@charset "-UTF8";

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
    margin: 0;
}

a {
    display: block;
    background-color: darkred;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

a:hover {
    background-color: red;
}