@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main#container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 266px;
    height: 471px;
}

#rede-sociais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
}
#rede-sociais img{
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#rede-sociais img:hover {
    border: 2px rgba(255, 255, 255, 0.400) solid;
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s border 1s;
}